<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_Fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>關於我</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/my.css">
</head>
<body>

<!--導航-->
<nav th:replace="_Fragments :: menu(5)" class="ui inverted  attached segment m-padded-td-mini m-shadow-small">
       <div class="ui container">
        <div class="ui inverted stackable menu secondary ">
            <h2 class="ui violet header item">Blog</h2>
            <a href="#" class=" m-item item m-mobile-hide "><i class="home icon"></i>首頁</a>
            <a href="#" class=" m-item item m-mobile-hide "><i class="bars icon"></i>分類</a>
            <a href="#" class=" m-item item m-mobile-hide "><i class="tag icon"></i>標籤</a>
            <a href="#" class=" m-item item m-mobile-hide "><i class="file icon"></i>歸檔</a>
            <a href="#" class=" active m-item item m-mobile-hide "><i class="user icon"></i>關於我</a>
            <div class=" m-mobile-hide right item ">
                <div class="ui inverted transparent input icon  ">
                    <input type="text" placeholder="Search...">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
       </div>
    <a href="#" class="ui menu toggle m-mobile-show  black  button m-top-right">
        <i class="ui align justify icon"></i>
    </a>
</nav>


<div class="ui m-container m-padded-td-massive">
    <div class="ui container">
        <div class="ui stackable grid">
            <div class="ui eleven wide column">
                <div class="ui segment">
                    <img src="../static/images/unnamed.jpg" th:src="@{images/unnamed.jpg}" alt="" class="ui rounded image" style="width: 650px ">
                </div>
            </div>
            <div class="ui five wide column">
                <div class="ui top attached segment">
                    <div class="ui header m-margin-lr-tiny m-padded-mobile-lr-responsive-small ">關於我</div>
                </div>
                <div class="ui attached segment m-padded-mobile-lr-responsive">
                    <p class="m-padded-max m-margin-lr-tiny">
                        哈士奇是北方地區雪橇型狗的總稱，他們的快速拉動的風格與其他雪橇犬不同。
                        他們是由速度最快的雪橇犬不斷交配的品種。
                    </p>
                    <p class="m-padded-max m-margin-lr-tiny">
                        相比之下，阿拉斯加雪橇犬是「最大和最有力的」雪橇犬，常被用於較重的承載。
                        哈士奇被用於雪橇犬拉車比賽。近幾年來，有些業者一直在為冒險旅行者推銷狗拉雪橇的雪地旅遊徒步旅行。
                        某些團體正為退休賽車和冒險徒步的狗尋找新家。
                    </p>

                </div>
                <div class="ui center aligned attached segment  ">
                    <div class="ui red basic label m-margin-lr-tiny">編成</div>
                    <div class="ui red basic label m-margin-lr-tiny">寫作</div>
                    <div class="ui red basic label m-margin-lr-tiny">思考</div>
                    <div class="ui red basic label m-margin-lr-tiny">運動</div>
                </div>
                <div class="ui center aligned attached segment  ">
                    <div class="ui blue basic left pointing  m-margin-tb-tiny label m-margin-lr-tiny">Java</div>
                    <div class="ui blue basic left pointing  m-margin-tb-tiny label m-margin-lr-tiny">JavaScript</div>
                    <div class="ui blue basic left pointing  m-margin-tb-tiny label m-margin-lr-tiny">Java</div>
                    <div class="ui blue basic left pointing  m-margin-tb-tiny label m-margin-lr-tiny">Java</div>
                    <div class="ui blue basic left pointing  m-margin-tb-tiny label m-margin-lr-tiny">Java</div>
                    <div class="ui blue basic left pointing  m-margin-tb-tiny label m-margin-lr-tiny">Java</div>
                </div>
                <div class="ui bottom attached segment ">
                    <a href="#" class="ui blue basic circular icon button"><i class="bell outline icon"></i></a>

                    <a id="fbConnect" href="#" class="ui blue basic circular icon button"><i class="facebook icon"></i>
                        <div class="ui fb flowing popup transition hidden  ">
                            <img class="ui rounded image  " src="../static/images/837e7rutyy4ow840cooos8c88qopfye.jpg" alt="" style="width: 200px">
                        </div>
                    </a>

                    <a href="#" class="ui phoneNumber blue basic circular icon button"data-content="020488995"data-position="bottom center">
                        <i class="phone volume icon"></i></a>






                </div>
            </div>

        </div>
    </div>

</div>





<footer th:replace="_Fragments :: footer"  class="ui inverted vertical segment  m-padded-td-massive " >
    <div class="ui center aligned container  ">
        <div class="ui inverted  divided stackable grid " >
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../static/images/837e7rutyy4ow840cooos8c88qopfye.jpg" class="ui medium circular image" alt="" style="width: 110px">
                    </div>
                </div>
            </div>

            <div class="three wide column">
                <h4 class="ui inverted  header">最新消息</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">故事</a>
                    <a href="#" class="item">清單</a>
                    <a href="#" class="item">事件</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted  header">聯繫我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">E-mail</a>
                    <a href="#" class="item">電話</a>

                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted  header">Tony軒</h4>
                <p class="m-text-opacity">哈士奇這類的狗原本是由北極土著民族飼養的地方品種。</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-text-lined m-text-opacity">copyright @2020 -202D designed by </p>

    </div>



</footer>
<!--/*/<th:block th:replace="_Fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    $('#fbConnect')
        .popup({
            popup : $('.fb'),
            position :'bottom center',
        })
    $('.phoneNumber').popup()
    ;


    ;

</script>
<!--/*/<th:block>/*/-->

</body>
</html>